# -----------------------------
# Global Repo Ignored Files
# -----------------------------

# System files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/
*.swp

# Environment & Secrets
.env
.env.*
*.pem
*.key
*.crt

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log

# Docker volumes
data/
docker-data/
